# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "d5a42a94b23c58caef6dc110e896012a"
name = "Customer Analytics Buddy"
application_url = "https://customeranalyticsbuddyapp.vercel.app"
embedded = true

[build]
automatically_update_urls_on_dev = false

[webhooks]
api_version = "2026-01"

# Mandatory compliance webhooks (required for App Store)
[[webhooks.subscriptions]]
compliance_topics = ["customers/data_request", "customers/redact", "shop/redact"]
uri = "https://customeranalyticsbuddyapp.vercel.app/webhooks/compliance"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_checkouts,read_customers,write_customers,read_orders,write_orders,write_products"

[auth]
redirect_urls = [ "https://customeranalyticsbuddyapp.vercel.app/auth/shopify/callback" ]
